@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(./fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root {
    --cor0 : #C7D7EF;
    --cor1 : #98BDE7;
    --cor2 : #6AA4DF;
    --cor3 : #386FD4;
    --cor4 : #284B9C;
    --cor5 : #172664;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0;
    padding: 0;
}

.externo::after{
    content: '\1F517';
}
body{
    background-color:#6aa5dfcd ;
}



header{
    background-image: linear-gradient(to top, #172664,#386FD4 );
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--font-destaque);
    color: white;
    margin-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.604);
    font-weight: normal;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.604);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.236);
    text-align: center;
    padding-top: 30px;
    font-family: var(--font-destaque);
    font-size: x-large;

}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    transition-duration: 0.5s;
    
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 15px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.553);
    margin-bottom: 30px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    font-weight: normal;
}
main img{
    width: 100%;
}
h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, #2e5db44d, #ffffff);
    font-size: 1.2em;    
    font-weight: normal;
}

main > article > h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.8em;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor5);
    background-color: #c7d7efa7;
    padding: 2px 6px;
   
}
main a:hover{
    text-decoration: underline;
    color: var(--cor2);
    
}

 .video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
.video > iframe{
position: absolute;
top:5% ;
left: 5%;
width:90% ;
height:90% ;
}

.pequena{
    max-width: 350px;
    display: block;
    margin:auto;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.364);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--font-destaque);
    font-weight: normal;
}
aside > ul{
    list-style-position: inside;
    list-style-type:'\2714\00A0' ;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:var(--cor2);
    text-decoration: underline;
}